name: CI

on:
  pull_request:
  workflow_dispatch:
  push:
    branches:
      - master

jobs:
  DeterminateCI:
    uses: DeterminateSystems/ci/.github/workflows/workflow.yml@main
    permissions:
      id-token: write
      contents: read
